body {
    background-color:#fff;
    padding-top: 60px;
}
.navbar {
    background:#F4F4F4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link { 
    color: #005461;
    font-size: 16px;
    font-weight: 500;
}

.navbar-brand {
    font-weight: 600;
    color: #005461;
}


.container {
    background: #fff;
   border-radius: 10px;
} 

h3 {                                                                                                
    color: #005461;
}

.cover-img {
    height: 250px;
    object-fit: cover;
    width: 100%;
    border-radius: 0;
}

.book-info small {
    display: block;      
    margin: 0;       
}

.book-info h5 {
    margin-bottom: 0;
    font-size: 16px;   
}

.book-info p {
    margin-bottom: 0;   
}
